* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none;
}

html {
	background-color: #263238;
}

body {
	color: #424242;
	color: rgba(0, 0, 0, .75);
	font: 13px/20px "Lato","Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	text-shadow: #fff 0 1px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -275px;
	width: 235px;
	height: 249px;
	padding: 49px 49px 0 299px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-animation-name: pop;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
}

.profile {
	position: absolute;
	top: 49px;
	left: 49px;
	width: 200px;
	height: 201px;
	background: url(../img/profile.jpg) no-repeat 0 0;
	background-size: contain;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
	font-weight: 700;
	color: #FF4081;
}

h2{
	font-size: 1.75em;
	line-height: 1.35em;
	font-weight: 300;
}

.fa {
	color: #607D8B;
}

a {
	color: #FF4081;
}
a:hover {
	color:#607D8B;
}

p {
	margin-top: 1em;
	margin-bottom: 20px;
}

ul li {
	display: inline-block;
}
li:after {
	content: " | ";
	color: #ccc;
	display: inline-block;
	font-size: 100%;
	margin: 0 0 0 .5em;
}

li:last-child:after { content: " "; }  /* remove the pipe from the last list item */

@-webkit-keyframes pop {
	from {
		-webkit-transform: scale(.1);
		opacity: 0;
	}
	85% {
		-webkit-transform: scale(1.05);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(1);
	}
}



/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	body{
		position: relative;
		top: 0px;
		left: 0px;
		margin: 5% auto;
		width: 75%;
		height: auto;
		padding: 50px ;
	}
	.profile {
		position: relative;
		top: 0px;
		left: 0px;
		float: left;
		background-size: cover;
	}
	.intro, h1, h2, p, .text-center {
		position: relative;
		top: 0px;
		left: 10%;
	}

	@media (max-width: 480px) {
		body{
			max-width: 235px;
			padding: 50px;
			width: auto;
			margin: 5% auto;
		}
		.profile {
			position: relative;
			top: 0px;
			left: 0px;
			width: 200px;
			height: 201px;
			background: url(../img/profile.jpg) no-repeat 0 0;
			background-size: contain;
			text-indent: 250px;
			overflow: hidden;
			white-space: nowrap;
			border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			margin: auto auto 25px;
			float: none;
		}

		.intro, h1, h2, p, .text-center{
			text-align: center;
			left: 0px;
		}
	}
